body {
    background: #f5f5f5;
    /*font-family: "Georgia", Times, serif;*/
}

a {
    color: #000000;
}


p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #9d9d9d;
}

nav {
    background: #f5f5f5;
    color: #777777;
    font-weight: bold;
}

.logo {
    color: #7cc576;
}

.text-logo {
    color: #777777;
}

/*          Estilos generales
------------------------------------------------*/
.text-content {
    padding: 5px;
}

.title-head-section {
    font-weight: bold;
}

.subtitle-head-section {
    font-size: 18px;
}

/*          Intro Section
--------------------------------------------------*/
.intro-section {
    background-image: url("../img/intro.jpg");
}

.title-intro {
    font-weight: bold;
    font-size: 40px;
    margin: 20px;
}

.content-intro {
    color: #f5f5f5;
    padding: 6em;
}

.btn-intro {
    color: #ffffff;
    border-radius: 28px;
    font-family: arial;
    background-color: #7cc576;
    text-decoration: none;
    border: none;
    padding: 16px 30px;
    margin: 20px;
}

/*          Proffesional Services Section
--------------------------------------------------*/
.service-section {
    background-color: #ffffff;
    padding: 5em;
}

.content-service {

}

.subtitle-service {
    font-weight: bold;
}

/*         Just Relax Section
--------------------------------------------------*/
.justrelax-section {
    background: url("../img/just-relax.jpg");

}

.content-justrelax {
    padding: 20px;
    margin: 50px;
    font-size: 15px;
}

.title-justrelax {

    color: #ffffff;
}

.text-body-justrelax {
    color: #9d9d9d;
}

.button-justrelax {
    color: #ffffff;
    border-radius: 28px;
    font-family: arial;
    background-color: #7cc576;
    text-decoration: none;
    border: none;
    padding: 16px 30px;
    margin: 20px;
}

/*         Latest Projects Section
--------------------------------------------------*/
.projects-section {
    background-color: #ffffff;
    padding: 5em;
}

.projects-section-botton {
    background-image: url("../img/latest-projects.png");
    margin-top: 2em;
    padding-left: 5em;
}

.list-features-projects {
    padding-left: 20px;
}

.text-list {
    margin-top: 0px;
}
.text-link {
    color: #7cc576;
    font-weight: bold;
}

/*         Culture & Values Section
--------------------------------------------------*/
.culture-section {
    background-color: #f9f9f9;
    padding: 5em;
}

.culture-section-top {
}

.culture-section-botton {
    padding: 3em;
}

.content-culture {
    margin: 6em;
}


/*         Contact Section
--------------------------------------------------*/

.contact-section {
    background-color: #7cc576;
    padding: 3em;
}

.title-contact {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
}

.button-contact {
    color: #ffffff;
    border-radius: 5px;
    font-family: arial;
    background-color: #7cc576;
    border: solid #ffffff 2px;
    padding: 10px 30px;
    margin: 20px;
    font-weight: bold;
}

/*              Products
-------------------------------------------------*/
.products-section {
    padding: 3em
}

.img-product {
    margin: 20px;
    height: 40px;
    -webkit-filter: grayscale(1);
}

.img-product:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}


/*              Footer
-------------------------------------------------*/
.content-footer {
    color: #f5f5f5;
    margin: 50px;
}
.top-footer {
    background-color: #222222;
}
.bottom-footer {
    margin: 20px 50px;
}

.title-footer {
    font-weight: bold;
    color: #ffffff;
    margin: 1em;
}

.list-footer {
    margin: 10px;
}

.hashtag {
    color: #ffffff;
    font-weight: bold;
}

.date {
    font-size: 12px;
}

.icon-social {
    margin: 8px;
}


